/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
     /* ici */
     /* General rules */
     
     .bg-header {
      background-color: #a15c38;
     }
     .bg-nav {
       background-color: #262220;
     }
     .bg-footer {
       background-color:#262220ed;
     }
     img {
       width: 100%;
       height: auto;
     }
     li {
       list-style-type: none;
     }
     a {
       text-decoration: none;
       color: #fff;
     }
     a:hover {
      color: #a15c38;
     }
     .btn-active:active {
      transform: scale(1.2);
    }
     nav {
       height: 10vh;
     }
     footer {
       height: 15vh;
     }
     main {
       height: 100%;
       background-color: rgb(231, 226, 226);
       margin: auto;
     }
     .btn {
       background-color: rgb(17, 16, 16, 0.5);
       color: #fff;
       width: 10rem;
       height: 1.8rem;
       border-color: rgb(63, 44, 44);
       border-radius: 0.7rem;
       box-shadow: 0 0.3rem 0.4rem 0 rgb(17, 16, 16, 0.5);
       opacity: 0.8;
     }

     /* .....header..... */
     header h1 {
       text-align: center;
       padding-top: 0.5rem;
       font-size: 3rem;
     }
     .text-header {
       text-align: center;
       padding: 0rem 0 1rem 0;
       font-size: 1.5rem;
       color: black;
     }
     .logo {
       width: 10rem;
       position: absolute;
       margin-top: -7rem;
       margin-left: 2rem;
     }
     
     /* .....nav..... */
     nav ul {
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
       margin-right: 3rem;
     }
     nav ul li {
       margin: 1.5rem 2rem 0 0;
     }
     nav ul li a:hover {
       background-color: rgb(17, 16, 16, 0.5);
       border-radius: 2rem;
       box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem;
     }

     /* .....footer..... */
     footer {
      color: #fff;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
     }
     .icones {
       font-size: 2rem;
       width: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
     }
     i {
       margin-left: 1.8rem;
       color: #fff;
       padding-top: 0.1rem;
       font-size: 1.2rem;
     }
     i:hover {
       color: #a15c38;
     }
     .adress {
       display: flex;
       flex-direction: column;
       margin: auto;
     }

     /* .....index..... */
     main h1 {
       text-align: center;
       padding: 1.3rem 0 1.3rem 0;
     }
     .container {
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       padding-bottom: 3rem;
     }
     article {
       background-color:#a76948;
       opacity: 0.9;
       border-radius: 2%;
       text-align: center;
       width: 22rem;
       height: 30rem;
       box-shadow: 0 0.5rem 0.5rem 0 rgb(104, 98, 98);
     }
     article:hover {
       transform: scale(1.12);
     }
     .img-article {
       padding: 1rem;
     }
     article img {
       border-radius: 0.3rem;
     }
     .text-article {
       margin-bottom: 1rem;
       color: #000;
       font-style: italic;
       font-weight: bold;
     }
     .price-article {
       margin-bottom: 1rem;
       color: black;
       font-size: 2rem;
       font-weight: bold;
     }
     .price {
       margin-right: 1.3rem;
       text-decoration-line:line-through;
       font-weight: normal;
       color: rgb(221, 19, 19);
     }
     .fa-solid {
       margin-left: 1rem;
     }
     .btn:hover {
       background-color: black;
     }

     /* .....form page..... */

     .form {
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 1rem 0 2rem 0;
      }
      .inputs{
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-bottom: 1.2rem;
      }
      input {
       border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
       border-style: none;
       box-shadow: 0 0.5rem 0.5rem 0 rgb(104, 98, 98);
       height: 1.6rem;
       width: 22rem;
       text-align: center;
     }
     .submit {
       width: 5rem;
     }
     input[type = submit]:hover {
       background-color: #ad7253;
     }
     input[type = submit] {
      background-color: rgba(8, 8, 8, 0.8);
      width: 7rem;
      color: white;
      cursor: pointer;
   }
   input[type = textarea] {
     height: 7rem;
   }
   select {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-style: none;
    box-shadow: 0 0.5rem 0.5rem 0 rgb(104, 98, 98);
    height: 1.6rem;
    width: 11rem;
    text-align: center;
   }
   
    /* .....about page..... */

    .containt-about {
       padding: 3rem 0 3rem 0;
       display: flex;
       justify-content: center;
       align-items: center;
     }
    .video {
       width: 30%;
       border-radius: 2rem;
     }
    .text-about {
       width: 30%;
       line-height: 2rem;
       position: relative;
       padding-bottom: 2.5rem;
       font-size: large;
       border-radius: 2%;
       box-shadow: 0 0.1rem 0.3rem 0.1rem;
       text-align: center;
       height: 17rem;
     }
    video {
       width: 90%;
       height: 20rem;
       border: rgb(201, 183, 183);
       border-radius: 2%;
       border-style: hidden;
       box-shadow: 0 0.1rem 0.3rem 0.1rem;
     }
    
    /* .....media query..... */

    /*mobile */

    @media only screen and (max-width: 769px) {
      /* header */
      .logo {
        display: none;
      }
      header h1 {
        text-align: center;
        padding-top: 0.5rem;
        font-size: 2rem;
      }
      .text-header {
        text-align: center;
        padding: 0rem 0 1rem 0;
        font-size: 1.1rem;
        color: black;
      }
      footer {
       height: 25vh;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
      }
      /* nav */
      nav {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      footer {
         display: flex;
         flex-direction: column;
       }
       .icones {
         margin: auto;
       }
       .adress {
         text-align: center;
       }
    /* home page */
      /* */
      .container {
        display: flex;
        flex-direction: column;
      }
      article {
        width: 86%;
        margin-bottom: 3rem;
        height: auto;
      }
      button {
        margin-bottom: 1rem;
      }
      /* contact */
       input {
        width: 98%;
        margin: auto;
       }
       .submit {
         margin: auto;
         width: 98%;
       }
       /* about */
       .containt-about {
        display: flex;
        flex-direction: column;
      }
      .video {
        width: 94%;
        text-align: center;
        margin-bottom: 2rem;
      }
      .text-about {
        width: 84%;
        height: auto;
        margin: auto;
      }
    }

    /* pad */
    @media only screen and (min-width: 769px) and (max-width: 979px) {
      /* header */
      .logo {
        width: 15%;
        height: auto;
      }
      .text-header {
        font-size: 1.2rem;
      }
      nav {
        display: flex;
        justify-content: center;
      }

      /* home page */
      .container {
        display: flex;
        flex-wrap: wrap;
      }
      article {
        margin: 0 1.5rem 3rem 1.2rem;
        width: 90%;
        height: auto;
      }
      button {
        margin-bottom: 1rem;
      }
      /* about page */
      .containt-about {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      .video {
        width: 50%;
      }
      .text-about {
        width: 45%;
        height: auto;
      }
    }
    @media only screen and (min-width: 980px) and (max-width: 1025px){
      
      article {
        width: 30%;
      }
      button {
        margin-top: 1.2rem;
      }

    }
    
    



   






     

     

  
     



  
     
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  